<!DOCTYPE html>
<html>
  <head>
    <title>React On Rails Material UI Test</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag(
        'application',
        media: 'all',
        'data-turbolinks-track': 'reload') %>
    <%= javascript_include_tag(
        'application',
        'data-turbolinks-track': 'reload') %>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <%= javascript_pack_tag('navbar') %>
  </head>

  <body>
    <%= react_component('NavBar') %>
    <%= yield %>
  </body>
</html>
